# =========================
# Python / FastAPI Backend
# =========================
__pycache__/
app/__pycache__
services/__pycache__
models/__pycache__
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.venv

# Python build files
build/
dist/
*.egg-info/
.eggs/

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.tox/

# FastAPI specific
*.sqlite3
*.db
coverage.xml